.UserOrders {
    height: 100vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.UserOrders svg {
    height: 50%;
}
/* .UserOrders .text-container {
    height: 50vh;
} */