p.card-texts {
    margin: 6.3rem 4rem;
    text-align: center;
    font-weight: bold;
    /* margin-bottom: 6.3rem; */
  }
  .card-details-container {
    /* display: none; */
    margin-bottom: 3rem;
    margin-top: 2rem;
  }
  .card-details-container-sub {
    max-height: 6rem;
    overflow: auto;
  }
  .card-details {
    display: flex;
    margin: auto;
    width: 85%;
  }
  .card-images {
    width: 3rem;
    max-height: 3.1rem;
    border-radius: 0.4rem;
  }
  .details-description {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 60%;
    height: 4rem;
  }
  .details-description p:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
  }
  .card-details button {
    margin-left: auto;
    border: 0;
    background-color: white;
  }

  .card-title {
    margin: 1rem;
    font-weight: bold;
    margin-left: 1.5rem;
  }
.cart-orders {
    border-radius: 52%;
    font-weight: bold;
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 0.7rem;
    right: 1rem;
  }

  .Cart {
    width: 20rem;
    z-index: 2;
    padding: 0.5rem;
  }
  .dropdown-divider {
    background-color: var(--text-primary);
  }

  .checkout {
    width: 85%;
    margin: auto;
    margin-top: 1rem;
  }
  .checkout button {
    width: 100%;
    height: 3rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
  }
  
@media all and (min-width: 992px) {

  .cart-orders-display {
    box-shadow: var(--box-shadow2);
    background-color: var(--background);
}

.cart-orders-display {
    margin: auto;
    width: 30rem;
    /* height: 18rem; */
    border-radius: 1rem;
  }
}