.ErrorPage .flex {
    text-align: center;
    margin-top: 3rem;
    color: var(--text-primary);
}
.ErrorPage article {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.ErrorPage svg {
    width: 80%;
    height: 8rem;
}